/* (C)opyright 2018 Dirk Holtwick, holtwick.de All rights reserved. */

html {
  --system-blue-color: rgba(0, 122, 255, 1);
  --system-brown-color: rgba(162, 132, 94, 1);
  --system-gray-color: rgba(142, 142, 147, 1);
  --system-green-color: rgba(40, 205, 65, 1);
  --system-orange-color: rgba(255, 149, 0, 1);
  --system-pink-color: rgba(255, 45, 85, 1);
  --system-purple-color: rgba(175, 82, 222, 1);
  --system-red-color: rgba(255, 59, 48, 1);
  --system-yellow-color: rgba(255, 204, 0, 1);
  --clear-color: rgba(0, 0, 0, 0);
  --black-color: rgba(0, 0, 0, 1);
  --blue-color: rgba(0, 0, 255, 1);
  --brown-color: rgba(153, 102, 51, 1);
  --cyan-color: rgba(0, 255, 255, 1);
  --dark-gray-color: rgba(85, 85, 85, 1);
  --gray-color: rgba(128, 128, 128, 1);
  --green-color: rgba(0, 255, 0, 1);
  --light-gray-color: rgba(170, 170, 170, 1);
  --magenta-color: rgba(255, 0, 255, 1);
  --orange-color: rgba(255, 128, 0, 1);
  --purple-color: rgba(128, 0, 128, 1);
  --red-color: rgba(255, 0, 0, 1);
  --white-color: rgba(255, 255, 255, 1);
  --yellow-color: rgba(255, 255, 0, 1);
  --label-color: rgba(0, 0, 0, 0.847);
  --secondary-label-color: rgba(0, 0, 0, 0.498);
  --tertiary-label-color: rgba(0, 0, 0, 0.259);
  --quaternary-label-color: rgba(0, 0, 0, 0.098);
  --text-color: rgba(0, 0, 0, 1);
  --placeholder-text-color: rgba(0, 0, 0, 0.247);
  --selected-text-color: rgba(0, 0, 0, 1);
  --text-background-color: rgba(255, 255, 255, 1);
  --selected-text-background-color: rgba(179, 215, 255, 1);
  --keyboard-focus-indicator-color: rgba(0, 103, 244, 0.498);
  --unemphasized-selected-text-color: rgba(0, 0, 0, 1);
  --unemphasized-selected-text-background-color: rgba(220, 220, 220, 1);
  --link-color: rgba(0, 104, 218, 1);
  --separator-color: rgba(0, 0, 0, 0.098);
  --selected-content-background-color: rgba(0, 99, 225, 1);
  --unemphasized-selected-content-background-color: rgba(220, 220, 220, 1);
  --selected-menu-item-text-color: rgba(255, 255, 255, 1);
  --grid-color: rgba(230, 230, 230, 1);
  --header-text-color: rgba(0, 0, 0, 0.847);
  --control-accent-color: rgba(0, 122, 255, 1);
  --control-color: rgba(255, 255, 255, 1);
  --control-background-color: rgba(255, 255, 255, 1);
  --control-text-color: rgba(0, 0, 0, 0.847);
  --disabled-control-text-color: rgba(0, 0, 0, 0.247);
  --selected-control-color: rgba(179, 215, 255, 1);
  --selected-control-text-color: rgba(0, 0, 0, 0.847);
  --alternate-selected-control-text-color: rgba(255, 255, 255, 1);
  --scrubber-textured-background-color: rgba(0, 0, 0, 0);
  --window-background-color: rgba(236, 236, 236, 1);
  --window-frame-text-color: rgba(0, 0, 0, 0.847);
  --under-page-background-color: rgba(150, 150, 150, 0.898);
  --find-highlight-color: rgba(255, 255, 0, 1);
  --highlight-color: rgba(255, 255, 255, 1);
  --shadow-color: rgba(0, 0, 0, 1);
}

html[data-mode="dark"] {
  --system-blue-color: rgba(10, 132, 255, 1);
  --system-brown-color: rgba(172, 142, 104, 1);
  --system-gray-color: rgba(152, 152, 157, 1);
  --system-green-color: rgba(50, 215, 75, 1);
  --system-orange-color: rgba(255, 159, 10, 1);
  --system-pink-color: rgba(255, 55, 95, 1);
  --system-purple-color: rgba(191, 90, 242, 1);
  --system-red-color: rgba(255, 69, 58, 1);
  --system-yellow-color: rgba(255, 214, 10, 1);
  --clear-color: rgba(0, 0, 0, 0);
  --black-color: rgba(0, 0, 0, 1);
  --blue-color: rgba(0, 0, 255, 1);
  --brown-color: rgba(153, 102, 51, 1);
  --cyan-color: rgba(0, 255, 255, 1);
  --dark-gray-color: rgba(85, 85, 85, 1);
  --gray-color: rgba(128, 128, 128, 1);
  --green-color: rgba(0, 255, 0, 1);
  --light-gray-color: rgba(170, 170, 170, 1);
  --magenta-color: rgba(255, 0, 255, 1);
  --orange-color: rgba(255, 128, 0, 1);
  --purple-color: rgba(128, 0, 128, 1);
  --red-color: rgba(255, 0, 0, 1);
  --white-color: rgba(255, 255, 255, 1);
  --yellow-color: rgba(255, 255, 0, 1);
  --label-color: rgba(255, 255, 255, 0.847);
  --secondary-label-color: rgba(255, 255, 255, 0.549);
  --tertiary-label-color: rgba(255, 255, 255, 0.247);
  --quaternary-label-color: rgba(255, 255, 255, 0.098);
  --text-color: rgba(255, 255, 255, 1);
  --placeholder-text-color: rgba(255, 255, 255, 0.247);
  --selected-text-color: rgba(255, 255, 255, 1);
  --text-background-color: rgba(30, 30, 30, 1);
  --selected-text-background-color: rgba(63, 99, 139, 1);
  --keyboard-focus-indicator-color: rgba(26, 169, 255, 0.498);
  --unemphasized-selected-text-color: rgba(255, 255, 255, 1);
  --unemphasized-selected-text-background-color: rgba(70, 70, 70, 1);
  --link-color: rgba(65, 156, 255, 1);
  --separator-color: rgba(255, 255, 255, 0.098);
  --selected-content-background-color: rgba(0, 88, 208, 1);
  --unemphasized-selected-content-background-color: rgba(70, 70, 70, 1);
  --selected-menu-item-text-color: rgba(255, 255, 255, 1);
  --grid-color: rgba(26, 26, 26, 1);
  --header-text-color: rgba(255, 255, 255, 1);
  --control-accent-color: rgba(0, 122, 255, 1);
  --control-color: rgba(255, 255, 255, 0.247);
  --control-background-color: rgba(30, 30, 30, 1);
  --control-text-color: rgba(255, 255, 255, 0.847);
  --disabled-control-text-color: rgba(255, 255, 255, 0.247);
  --selected-control-color: rgba(63, 99, 139, 1);
  --selected-control-text-color: rgba(255, 255, 255, 0.847);
  --alternate-selected-control-text-color: rgba(255, 255, 255, 1);
  --scrubber-textured-background-color: rgba(0, 0, 0, 0);
  --window-background-color: rgba(50, 50, 50, 1);
  --window-frame-text-color: rgba(255, 255, 255, 0.847);
  --under-page-background-color: rgba(40, 40, 40, 1);
  --find-highlight-color: rgba(255, 255, 0, 1);
  --highlight-color: rgba(180, 180, 180, 1);
  --shadow-color: rgba(0, 0, 0, 1);
}
