/* (C)opyright 2018 Dirk Holtwick, holtwick.de All rights reserved. */

@lightSystemBlueColor: rgba(0, 122, 255, 1.000);
@lightSystemBrownColor: rgba(162, 132, 94, 1.000);
@lightSystemGrayColor: rgba(142, 142, 147, 1.000);
@lightSystemGreenColor: rgba(40, 205, 65, 1.000);
@lightSystemOrangeColor: rgba(255, 149, 0, 1.000);
@lightSystemPinkColor: rgba(255, 45, 85, 1.000);
@lightSystemPurpleColor: rgba(175, 82, 222, 1.000);
@lightSystemRedColor: rgba(255, 59, 48, 1.000);
@lightSystemYellowColor: rgba(255, 204, 0, 1.000);
@lightClearColor: rgba(0, 0, 0, 0.000);
@lightBlackColor: rgba(0, 0, 0, 1.000);
@lightBlueColor: rgba(0, 0, 255, 1.000);
@lightBrownColor: rgba(153, 102, 51, 1.000);
@lightCyanColor: rgba(0, 255, 255, 1.000);
@lightDarkGrayColor: rgba(85, 85, 85, 1.000);
@lightGrayColor: rgba(128, 128, 128, 1.000);
@lightGreenColor: rgba(0, 255, 0, 1.000);
@lightLightGrayColor: rgba(170, 170, 170, 1.000);
@lightMagentaColor: rgba(255, 0, 255, 1.000);
@lightOrangeColor: rgba(255, 128, 0, 1.000);
@lightPurpleColor: rgba(128, 0, 128, 1.000);
@lightRedColor: rgba(255, 0, 0, 1.000);
@lightWhiteColor: rgba(255, 255, 255, 1.000);
@lightYellowColor: rgba(255, 255, 0, 1.000);
@lightLabelColor: rgba(0, 0, 0, 0.847);
@lightSecondaryLabelColor: rgba(0, 0, 0, 0.498);
@lightTertiaryLabelColor: rgba(0, 0, 0, 0.247);
@lightQuaternaryLabelColor: rgba(0, 0, 0, 0.098);
@lightTextColor: rgba(0, 0, 0, 1.000);
@lightPlaceholderTextColor: rgba(0, 0, 0, 0.247);
@lightSelectedTextColor: rgba(0, 0, 0, 1.000);
@lightTextBackgroundColor: rgba(255, 255, 255, 1.000);
@lightSelectedTextBackgroundColor: rgba(179, 215, 255, 1.000);
@lightKeyboardFocusIndicatorColor: rgba(0, 103, 244, 0.247);
@lightUnemphasizedSelectedTextColor: rgba(0, 0, 0, 1.000);
@lightUnemphasizedSelectedTextBackgroundColor: rgba(220, 220, 220, 1.000);
@lightLinkColor: rgba(0, 104, 218, 1.000);
@lightSeparatorColor: rgba(0, 0, 0, 0.098);
@lightSelectedContentBackgroundColor: rgba(0, 99, 225, 1.000);
@lightUnemphasizedSelectedContentBackgroundColor: rgba(220, 220, 220, 1.000);
@lightSelectedMenuItemTextColor: rgba(255, 255, 255, 1.000);
@lightGridColor: rgba(204, 204, 204, 1.000);
@lightHeaderTextColor: rgba(0, 0, 0, 0.847);
@lightControlAccentColor: rgba(0, 122, 255, 1.000);
@lightControlColor: rgba(255, 255, 255, 1.000);
@lightControlBackgroundColor: rgba(255, 255, 255, 1.000);
@lightControlTextColor: rgba(0, 0, 0, 0.847);
@lightDisabledControlTextColor: rgba(0, 0, 0, 0.247);
@lightSelectedControlColor: rgba(179, 215, 255, 1.000);
@lightSelectedControlTextColor: rgba(0, 0, 0, 0.847);
@lightAlternateSelectedControlTextColor: rgba(255, 255, 255, 1.000);
@lightScrubberTexturedBackgroundColor: rgba(0, 0, 0, 0.000);
@lightWindowBackgroundColor: rgba(236, 236, 236, 1.000);
@lightWindowFrameTextColor: rgba(0, 0, 0, 0.847);
@lightUnderPageBackgroundColor: rgba(150, 150, 150, 0.898);
@lightFindHighlightColor: rgba(255, 255, 0, 1.000);
@lightHighlightColor: rgba(255, 255, 255, 1.000);
@lightShadowColor: rgba(0, 0, 0, 1.000);

@darkSystemBlueColor: rgba(10, 132, 255, 1.000);
@darkSystemBrownColor: rgba(172, 142, 104, 1.000);
@darkSystemGrayColor: rgba(152, 152, 157, 1.000);
@darkSystemGreenColor: rgba(50, 215, 75, 1.000);
@darkSystemOrangeColor: rgba(255, 159, 10, 1.000);
@darkSystemPinkColor: rgba(255, 55, 95, 1.000);
@darkSystemPurpleColor: rgba(191, 90, 242, 1.000);
@darkSystemRedColor: rgba(255, 69, 58, 1.000);
@darkSystemYellowColor: rgba(255, 214, 10, 1.000);
@darkClearColor: rgba(0, 0, 0, 0.000);
@darkBlackColor: rgba(0, 0, 0, 1.000);
@darkBlueColor: rgba(0, 0, 255, 1.000);
@darkBrownColor: rgba(153, 102, 51, 1.000);
@darkCyanColor: rgba(0, 255, 255, 1.000);
@darkDarkGrayColor: rgba(85, 85, 85, 1.000);
@darkGrayColor: rgba(128, 128, 128, 1.000);
@darkGreenColor: rgba(0, 255, 0, 1.000);
@darkLightGrayColor: rgba(170, 170, 170, 1.000);
@darkMagentaColor: rgba(255, 0, 255, 1.000);
@darkOrangeColor: rgba(255, 128, 0, 1.000);
@darkPurpleColor: rgba(128, 0, 128, 1.000);
@darkRedColor: rgba(255, 0, 0, 1.000);
@darkWhiteColor: rgba(255, 255, 255, 1.000);
@darkYellowColor: rgba(255, 255, 0, 1.000);
@darkLabelColor: rgba(255, 255, 255, 0.847);
@darkSecondaryLabelColor: rgba(255, 255, 255, 0.549);
@darkTertiaryLabelColor: rgba(255, 255, 255, 0.247);
@darkQuaternaryLabelColor: rgba(255, 255, 255, 0.098);
@darkTextColor: rgba(255, 255, 255, 1.000);
@darkPlaceholderTextColor: rgba(255, 255, 255, 0.247);
@darkSelectedTextColor: rgba(255, 255, 255, 1.000);
@darkTextBackgroundColor: rgba(30, 30, 30, 1.000);
@darkSelectedTextBackgroundColor: rgba(63, 99, 139, 1.000);
@darkKeyboardFocusIndicatorColor: rgba(26, 169, 255, 0.298);
@darkUnemphasizedSelectedTextColor: rgba(255, 255, 255, 1.000);
@darkUnemphasizedSelectedTextBackgroundColor: rgba(70, 70, 70, 1.000);
@darkLinkColor: rgba(65, 156, 255, 1.000);
@darkSeparatorColor: rgba(255, 255, 255, 0.098);
@darkSelectedContentBackgroundColor: rgba(0, 88, 208, 1.000);
@darkUnemphasizedSelectedContentBackgroundColor: rgba(70, 70, 70, 1.000);
@darkSelectedMenuItemTextColor: rgba(255, 255, 255, 1.000);
@darkGridColor: rgba(255, 255, 255, 0.098);
@darkHeaderTextColor: rgba(255, 255, 255, 1.000);
@darkControlAccentColor: rgba(0, 122, 255, 1.000);
@darkControlColor: rgba(255, 255, 255, 0.247);
@darkControlBackgroundColor: rgba(30, 30, 30, 1.000);
@darkControlTextColor: rgba(255, 255, 255, 0.847);
@darkDisabledControlTextColor: rgba(255, 255, 255, 0.247);
@darkSelectedControlColor: rgba(63, 99, 139, 1.000);
@darkSelectedControlTextColor: rgba(255, 255, 255, 0.847);
@darkAlternateSelectedControlTextColor: rgba(255, 255, 255, 1.000);
@darkScrubberTexturedBackgroundColor: rgba(0, 0, 0, 0.000);
@darkWindowBackgroundColor: rgba(50, 50, 50, 1.000);
@darkWindowFrameTextColor: rgba(255, 255, 255, 0.847);
@darkUnderPageBackgroundColor: rgba(40, 40, 40, 1.000);
@darkFindHighlightColor: rgba(255, 255, 0, 1.000);
@darkHighlightColor: rgba(180, 180, 180, 1.000);
@darkShadowColor: rgba(0, 0, 0, 1.000);